/*----GLOBAL VAR-----*/
.bg-blue{
    background-color: #0088cc;
}

.text-white{
    color: #ffffff;
}

body .form-control{
    border-radius: 20px;
    height: 40px;
}

#content .form-control,
.modal-content .form-control{
    border: 2px solid #ccc;
}

body .list-group-item.active,
body .list-group-item.active:focus,
body .list-group-item.active:hover{
    background-color: #0088cc;
}

body .panel-primary>.panel-heading{
    background-color: #0088cc;
}

.ajax-form .dropdown-menu{
    border-radius: 15px;
}

.ajax-form .btn{
    color: #909090;
    border: 2px solid #ccc;
    padding: 9px 20px;
}

.ajax-form .btn:hover{
    background-color: transparent;
}

.panel>.panel-collapse>.list-group .list-group-item{
    cursor: pointer;
}

/*----END GLOBAL VAR-----*/


.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid{
    border-color:#dc3545
}

.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.was-validated .form-control:invalid:focus{
    border-color:#dc3545;
    box-shadow:0 0 0 .2rem rgba(220,53,69,.25)
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.filter-section .nav-tabs li{
    width: 33%;
    background: #0a95da;
    margin-right: 0.5%;
    padding: 0;
    border-radius: 15px 15px 0 0;
}

.filter-section .nav-tabs li:last-child{
    margin-right: 0;
}

.filter-section .nav-tabs>li>a{
    border-radius: 15px 15px 0 0;
    margin-right: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Arial,sans-serif;
}

.filter-section .nav-tabs>li.active>a,
.filter-section .nav-tabs>li.active>a:hover{
    border-top: 2px solid #0088cc;
    border-left: 2px solid #0088cc;
    border-right: 2px solid #0088cc;
    margin-bottom: -1px;
    color: #0088cc;
}

.filter-section .nav-tabs{
    border-bottom: 2px solid #0088cc;
}

.filter-section .tab-content{
    border-left: 2px solid #0088cc;
    border-right: 2px solid #0088cc;
    border-bottom: 2px solid #0088cc;
    border-radius: 0 0 15px 15px;
}


.filter-section .nav-tabs>li>a:hover {
     border-color: transparent transparent transparent;
}

.filter-section .btn-round{
    padding: 10px;
    border: none;
    width: 100%;
}

.filter-section .form-control{
    padding-left: 25px;
}

.filter-section .form-control:hover,
.filter-section .form-control:focus{
    border: 2px solid #0088cc;
}

.filter-section .link{
    color: #0088cc;
    font-weight: normal;
    font-size: 16px;
}

.link.bold{
    font-weight: bold;
}

.hover-tooltip.right{
    position: absolute;
    right: 20px;
    top: 12px;
}

.filter-section .border-bottom{
    border-bottom: 1px solid;
}

.hover-tooltip .fa{
    color: #0088cc;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.filter-section .search-car__list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.filter-section .search-car__list li{
    border: 2px solid #ccc;
    padding: 10px 15px;
    border-radius: 15px;
    width: 150px;
}

.filter-section .search-car__list li span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-align: center;
}

.filter-section .container{
    box-sizing: content-box;
}

.dropdown-list.open .dropdown-menu{
    display: flex;
    flex-wrap: wrap;
}

.top-bar .right-sec .dropdown-menu li{
    border: none;
    flex-basis: 100%;
    margin: 0;
    padding: 5px;
}

/*----PROFILE----*/
.panel-profile > .row
{
    padding-bottom: 30px;
}
.profile-item {
    position: relative;
    padding: 0 0 0 70px;
    text-transform: none;
    display:block;
}

.profile-item > a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    font-size: 14pt;
}

.profile-item > a:first-child:before {
    font-family: "FontAwesome";
    display: inline-block;
    font-size: 55px;
    line-height: 18px;
    padding: 20px 0 0 0px;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    color: #0088cc;
}

.profile-item-user > a:first-child:before {
    content: "\f007";
}

.profile-item-delivery > a:first-child:before{
    content: "\f07a";
}

.profile-item-orders > a:first-child:before  {
    content: "\f022";
}

.profile-item-pwd > a:first-child:before  {
    content: "\f023";
}

.profile-item-pwd > a:first-child:before  {
    content: "\f023";
    padding: 20px 0 0 10px;
}

.profile-item-star > a:first-child:before  {
    content: "\f006";
}

.profile-item-car > a:first-child:before  {
    content: "\f1b9";
}

.profile-item-retweet > a:first-child:before  {
    content: "\f079";
}

.profile-item-truck > a:first-child:before  {
    content: "\f0d1";
}

.profile-item-money > a:first-child:before  {
    content: "\f0d6";
}

.profile-item-chart > a:first-child:before  {
    content: "\f200";
}

.block {
    display:block;
}

.tab-item{
    display: none;
}

.tab-item.active{
    display: block;
}

.profile-wrapper .panel-primary{
    border-radius: 17px;
}

.profile-wrapper .panel-heading,
.profile-wrapper  .panel>.panel-collapse>.list-group:first-child .list-group-item:first-child{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.profile-wrapper  .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.profile-wrapper .form-control{
    border-radius: 20px;
}

.identification-info{
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    padding: 10px;
    box-shadow: 0 0 21px rgba(0,0,0,.4);
    background: #fff;
    display: none;
}

body .modal-header{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

body .modal-content{
    border-radius: 17px;
}

@media only screen and (max-width : 992px) {
    .filter-section .search-car__list {
        flex-wrap: wrap;
    }
    .filter-section .search-car__list li {
        width: 100%;
        margin-bottom: 10px;
    }
}