/*----GLOBAL VAR-----*/
*{
    outline: none;
}

.bg-blue{
    background-color: #0088cc;
}

.link{
    padding: 5px 0;
    display: block;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

.border-0{
    border: 0 !important;
}

.link:hover{
    text-decoration: underline !important;
}

.blue .link{
    color: #0088cc;
}

.text-white{
    color: #ffffff;
}

.bold{
    font-weight: 700;
}

body .form-control{
    border-radius: 20px;
    height: 40px;
}

#content .form-control,
.modal-content .form-control{
    border: 2px solid #ccc;
}

body .list-group-item.active,
body .list-group-item.active:focus,
body .list-group-item.active:hover{
    background-color: #0088cc;
}

body .panel-primary>.panel-heading{
    background-color: #0088cc;
}

.ajax-form .dropdown-menu{
    border-radius: 15px;
}

.ajax-form .btn{
    color: #909090;
    border: 2px solid #ccc;
    padding: 9px 20px;
}

.ajax-form .btn:hover{
    background-color: transparent;
}

.panel>.panel-collapse>.list-group .list-group-item{
    cursor: pointer;
}

.relative{
    position: relative;
    z-index: 10;
}

.show-480{
    display: none;
}

.pagination > li:first-child > a, .pagination > li:first-child > span{
    border-radius: 4px !important;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 4px;
}
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover{
    border-radius: 4px;
    margin-right: 3px;
}
/*----END GLOBAL VAR-----*/

/*-----HOME-----*/
header>.container{
    padding-left: 200px;
}

body header .logo{
    position: absolute;
    left: 15px;
    top: -13px;
    max-width: 225px;
}

header .logo img {
    width: 100%;
}

.top-bar .dropdown-menu li {
    flex-basis: 100%;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid{
    border-color:#dc3545
}

.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.was-validated .form-control:invalid:focus{
    border-color:#dc3545;
    box-shadow:0 0 0 .2rem rgba(220,53,69,.25)
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.filter-section .btn-round{
    padding: 10px;
    border: none;
    width: 100%;
}

.filter-section .form-control{
    padding-left: 25px;
}

.filter-section .form-control:hover,
.filter-section .form-control:focus{
    border: 2px solid #0088cc;
}

.filter-section .link{
    color: #0088cc;
    font-weight: normal;
    font-size: 16px;
}

.link.bold{
    font-weight: bold;
}

.hover-tooltip.right{
    position: absolute;
    right: 20px;
    top: 12px;
}

.filter-section .border-bottom{
    border-bottom: 1px solid;
}

.hover-tooltip .fa{
    color: #0088cc;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.filter-section .search-car__list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.filter-section .search-car__list .selectric-wrapper{
    position: unset;
}

.filter-section .search-car__list .selectric-items{
    width: 100% !important;
    max-height: 302px;
    z-index: 100;
    height: auto;
    right: 0;
    overflow: auto;
}

.filter-section .year_auto .selectric-scroll ul{
    column-count: 6;
}

.filter-section .brand_auto .selectric-scroll ul{
    column-count: 4;
}

.filter-section .selectric-scroll ul{
    column-count: 2;
    padding: 10px;
}

.filter-section .search-car__list > li{
    border: 2px solid #ccc;
    border-radius: 15px;
    width: 150px;
}

.filter-section .search-car__list li span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-align: center;
}

.add-car{
    border: none;
    font-size: 10px;
    background: transparent;
    cursor: pointer;
    border-bottom: 1px solid;
}

#search_cars_modal .delete-car-btn{
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 0;
    padding: 10px;
}

.filter-section .container{
    box-sizing: content-box;
}

.dropdown-list.open .dropdown-menu{
    display: flex;
    flex-wrap: wrap;
}

.category-img{
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.top-bar .right-sec .dropdown-menu li{
    border: none;
    flex-basis: 100%;
    margin: 0;
    padding: 5px;
}

.fancyTab {
    text-align: center;
    padding:15px 0;
    background-color: #0a95da;
    box-shadow: 0 0 0 1px #ddd;
    top:15px;
    transition: top .2s;
}

.fancyTab.active {
    top:0;
    transition:top .2s;
}

.whiteBlock {
    display:none;
}

.fancyTab.active .whiteBlock {
    display:block;
    height:2px;
    bottom:-2px;
    background-color:#fff;
    width:99%;
    position:absolute;
    z-index:1;
}

.fancyTab a {
    font-size:1.65em;
    font-weight:300;
    transition:.2s;
    color: #fff;
}

.fancyTab a:hover{
    color: #0088cc;
}

.nav-tabs li.fancyTab.active>a{
    color: #0088cc;
}

.fancyTabs {
    border-bottom:2px solid #ddd;
    margin: 15px 0 0;
}

li.fancyTab a {
    padding-top: 15px;
    top:-15px;
    padding-bottom:0;
}

li.fancyTab.active a {
    padding-top: inherit;
}

.fancyTab a:focus {
    outline:none;
}

.fancyTabContent {
    border-color: transparent;
    box-shadow: 0 -2px 0 -1px #fff, 0 0 0 1px #ddd;
    padding: 30px 15px 15px;
    position:relative;
    background-color:#fff;
}

.nav-tabs > li.fancyTab.active > a,
.nav-tabs > li.fancyTab.active > a:focus,
.nav-tabs > li.fancyTab.active > a:hover {
    border-width:0;
}

.nav-tabs > li.fancyTab:hover {
    background-color:#f9f9f9;
    box-shadow: 0 0 0 1px #ddd;
}

.nav-tabs > li.fancyTab.active:hover {
    background-color:#fff;
    box-shadow: 1px 1px 0 1px #fff, 0 0 0 1px #ddd, -1px 1px 0 0 #ddd inset;
}

.nav-tabs > li.fancyTab:hover a {
    border-color:transparent;
}

.nav.nav-tabs .fancyTab a[data-toggle="tab"] {
    background-color:transparent;
    border-bottom:0;
}

.nav-tabs > li.fancyTab:hover a {
    border-right: 1px solid transparent;
}

.nav-tabs > li.fancyTab > a {
    margin-right:0;
    border-top:0;
    padding-bottom: 30px;
    margin-bottom: -30px;
}

.nav-tabs > li.fancyTab {
    margin-right:0;
    margin-bottom:0;
}

.nav-tabs > li.fancyTab:last-child a {
    border-right: 1px solid transparent;
}

.nav-tabs > li.fancyTab.active:last-child {
    border-right: 0 solid #ddd;
    box-shadow: 0 2px 0 0 #fff, 0 0 0 1px #ddd;
}

.fancyTab:last-child {
    box-shadow: 0 0 0 1px #ddd;
}

.tabs .nav-tabs li.fancyTab.active a {
    box-shadow:none;
    top:0;
}


.fancyTab.active {
    background: #fff;
    box-shadow: 1px 1px 0 1px #fff, 0 0 0 1px #ddd, -1px 1px 0 0 #ddd inset;
    padding-bottom:30px;
}

.arrow-down {
    display:none;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 22px solid #ddd;
    position: absolute;
    top: -1px;
    left: calc(50% - 20px);
}

.arrow-down-inner {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 12px solid #fff;
    position: absolute;
    top: -22px;
    left: -18px;
}

.fancyTab.active .arrow-down {
    display: block;
}

.top-bar .right-sec > ul > li{
    text-align: center;
}
.top-bar .right-sec li:last-child{
    border: none;
}

.column-list{
    display: flex;
    flex-wrap: wrap;
}

.column-list .list-group-item{
    flex-basis: 25%;
}

/*----PROFILE----*/
.panel-profile > .row
{
    padding-bottom: 30px;
}
.profile-item {
    position: relative;
    padding: 0 0 0 70px;
    text-transform: none;
    display:block;
}

.profile-item > a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    font-size: 14pt;
}

.profile-item > a:first-child:before {
    font-family: "FontAwesome";
    display: inline-block;
    font-size: 55px;
    line-height: 18px;
    padding: 20px 0 0 0;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    color: #0088cc;
}

.profile-item-user > a:first-child:before {
    content: "\f007";
}

.profile-item-delivery > a:first-child:before{
    content: "\f07a";
}

.profile-item-orders > a:first-child:before  {
    content: "\f022";
}

.profile-item-pwd > a:first-child:before  {
    content: "\f023";
}

.profile-item-pwd > a:first-child:before  {
    content: "\f023";
    padding: 20px 0 0 10px;
}

.profile-item-star > a:first-child:before  {
    content: "\f006";
}

.profile-item-car > a:first-child:before  {
    content: "\f1b9";
}

.profile-item-retweet > a:first-child:before  {
    content: "\f079";
}

.profile-item-truck > a:first-child:before  {
    content: "\f0d1";
}

.profile-item-money > a:first-child:before  {
    content: "\f0d6";
}

.profile-item-chart > a:first-child:before  {
    content: "\f200";
}

.block {
    display:block;
}

.tab-item{
    display: none;
}

.tab-item.active{
    display: block;
}

.profile-wrapper .panel-primary{
    border-radius: 17px;
}

.profile-wrapper .panel-heading,
.profile-wrapper  .panel>.panel-collapse>.list-group:first-child .list-group-item:first-child{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.profile-wrapper  .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.profile-wrapper .form-control{
    border-radius: 20px;
}

.identification-info{
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    padding: 10px;
    box-shadow: 0 0 21px rgba(0,0,0,.4);
    background: #fff;
    display: none;
}

body .modal-header{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

body .modal-content{
    border-radius: 17px;
}

.loader{
    position: absolute;
    z-index: 10;
    font-size: 10px;
    right: 0;
    top: 30px;
    display: none;
}
.delete-car-btn{
    border: none;
    padding: 0 5px;
    background: transparent;
}

/*-----CART-----*/
.shopping-cart .modal-lg{
    width: 98%;
    margin: 5px auto;
}

.shopping-cart .modal-header{
    background-color: #0088cc;
}

.shopping-cart .modal-header h4{
    color: #ffffff;
}

.shopping-cart .modal-content{
    border: none;
}

.mob-cart .list-group-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-img{
    display: block !important;
    margin: 0 auto;
    max-width: 40%;
}

.close-filter{
    background: #ccc;
    position: absolute;
    top: -25px;
    right: 25px;
    display: flex;
    padding: 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

/*-----PRODUCT PAGE-----*/
.fast-buy-block{
    position: absolute;
    top: 10px;
    width: 300px;
    display: none;
    right: 25px;
}

.add-car-block{
    display: inline-block;
    margin-bottom: 15px;
}

#root-category-modification .list-group {
    height: 350px;
    background-position: 100% 30%;
    padding-right: 110px;
    background-repeat: no-repeat;
    background-size: 40%;
}

#root-category-modification .list-group-item{
    background: transparent;
}

/*-----SITE PAGE-----*/
.page-content p{
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}

.cate-bar-in ul.list-group{
    border: none;
}

.cate-bar-in .list-group-item{
    padding: 5px;
}

.list-group-item.child-list-group-item{
    padding: 0;
}

.root-list{
    max-height: 360px;
    overflow: auto;
    height: auto;
}

.list-group-item.child-list-group-item .list-group{
    padding: 0 5px;
}

@media (max-width: 1200px) {

    .fancyTab .fa {
        font-size: 36px;
    }

    .fancyTab .hidden-xs {
        font-size:22px;
    }

}

@media only screen and (max-width : 992px) {
    .fancyTab .fa {
        font-size: 33px;
    }

    .fancyTab .hidden-xs {
        font-size:18px;
        font-weight:normal;
    }

    .filter-section .search-car__list {
        flex-wrap: wrap;
    }
    .filter-section .search-car__list li {
        width: 100%;
        margin-bottom: 10px;
    }

    .padding-md-30{
        padding-top: 30px;
    }

    .shopping-cart .promo{
        border: none;
    }

    header>.container{
        padding-left: 15px;
    }

    body header .logo{
        position: relative;
        left: 0;
        top: -20px;
    }
    .cart-pop{
        display: flex;
        justify-content: flex-end;
    }

    header .logo img{
        width: 130px;
    }
}

@media (max-width: 768px) {

    .fancyTab > a {
        font-size:18px;
    }

    .nav > li.fancyTab > a {
        padding:15px 0;
        margin-bottom:inherit;
    }

    .fancyTab .fa {
        font-size:30px;
    }

    .nav-tabs > li.fancyTab > a {
        border-right:1px solid transparent;
        padding-bottom:0;
    }

    .fancyTab.active .fa {
        color: #333;
    }

    .btn-sm{
        width: 200px !important;
        display: block;
        margin: 15px auto 0;
    }

    .column-list .list-group-item{
        flex-basis: 33.333333%;
    }

    .top-bar .social-top {
        display: block !important;
    }

    .main-page-links h3{
        font-size: 22px;
    }
    .main-page-links h4{
        font-size: 20px;
    }

    body .top-bar .right-sec ul {
        width: auto;
    }

    .year_auto .selectric-scroll ul{
        column-count: 3;
    }

    .filter-section .year_auto .selectric-scroll ul{
        column-count: 1;
    }
    .filter-section .brand_auto .selectric-scroll ul{
        column-count: 2;
    }
}

@media (max-width: 540px){
    body header .navbar {
        margin-top: 0;
    }
}


@media (max-width: 480px) {
    .show-480{
        display: inline-block;
    }

    .column-list .list-group-item{
        flex-basis: 100%;
    }

    .fancyTab > a {
        font-size:13px;
    }

    .mob-cart .list-group-item{
        flex-wrap: wrap;
    }

    .mob-cart .list-group-item > div{
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .mob-cart .list-group-item > div:last-child{
        position: absolute;
        top: 5px;
        right: 15px;
    }
}

@media (max-width: 440px){
    header>.container{
        display: flex;
        justify-content: space-around;
    }
    body header .logo {
        margin-bottom: 0;
    }
    .ownmenu .cate-style {
        text-align: left;
        width: 230px;
        min-width: 100px;
    }

    .product-detail .product .quinty {
        width: 65px;
        margin-right: 15px;
    }

    .font-size-12-440{
        font-size: 12px;
    }

    .font-size-11-440{
        font-size: 11px;
    }
    .fast-buy-block {
        right: 0;
    }

    .year_auto .selectric-scroll ul{
        column-count: 2;
    }
    .filter-section .brand_auto .selectric-scroll ul{
        column-count: 1;
    }
}