/*----GLOBAL VAR-----*/
* {
    outline: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.bg-blue {
    background-color: #0088cc;
}

.link {
    padding: 5px 0;
    display: block;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

.border-0 {
    border: 0 !important;
}

.link:hover {
    text-decoration: underline !important;
}

.blue .link {
    color: #0088cc;
}

.text-white {
    color: #ffffff;
}

.bold {
    font-weight: 700;
}

body .form-control {
    border-radius: 20px;
    height: 40px;
}

#content .form-control,
.modal-content .form-control {
    border: 2px solid #ccc;
}

body .list-group-item.active,
body .list-group-item.active:focus,
body .list-group-item.active:hover {
    background-color: #0088cc;
}

body .panel-primary > .panel-heading {
    background-color: #0088cc;
}

.ajax-form .dropdown-menu {
    border-radius: 15px;
}

.ajax-form .btn {
    color: #909090;
    border: 2px solid #ccc;
    padding: 9px 20px;
}

.ajax-form .btn:hover {
    background-color: transparent;
}

.panel > .panel-collapse > .list-group .list-group-item {
    cursor: pointer;
}

.relative {
    position: relative;
    z-index: 1000;
}

.show-480 {
    display: none;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-radius: 4px !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 4px;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    border-radius: 4px;
    margin-right: 3px;
}

.text-line-through {
    text-decoration: line-through !important;
}

header .search-cate .submit {
    background: #0088ccc9 !important;
    color: #fff !important;
}

.cart-pop .fa-shopping-cart {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 50px;
    color: #686868;
    background: #eeeeee;
    float: left;
    text-align: center;
    font-size: 23px;
}

/*----END GLOBAL VAR-----*/

/*------ODER CALL------*/
.callback-bt {
    background: #38a3fd;
    border: 2px solid #38a3fd;
    border-radius: 50%;
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);
    cursor: pointer;
    height: 68px;
    text-align: center;
    width: 68px;
    position: fixed;
    right: 1%;
    bottom: 15%;
    z-index: 999;
    transition: .3s;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 1s infinite;
}

.callback-bt .text-call {
    height: 68px;
    width: 100%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.callback-bt .text-call span {
    text-align: center;
    color: #38a3fd;
    opacity: 0;
    font-size: 0;
    position: absolute;
    right: 2px;
    top: 22px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.callback-bt .text-call:hover span {
    opacity: 1;
    font-size: 11px;
}

.callback-bt:hover i {
    display: none;
}

.callback-bt:hover {
    z-index: 1;
    background: #fff;
    color: transparent;
    transition: .3s;
}

.callback-bt:hover i {
    color: #38a3fd;
    font-size: 40px;
    transition: .3s;
}

.callback-bt i {
    color: #fff;
    font-size: 34px;
    transition: .3s;
    line-height: 66px;
    transition: .5s ease-in-out;
}

.callback-bt i {
    animation: 1200ms ease 0s normal none 1 running shake;
    animation-iteration-count: infinite;
    -webkit-animation: 1200ms ease 0s normal none 1 running shake;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
    }
    40% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
    }
    80% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067)
    }
    100% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0.0)
    }
}

@keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
    }
    40% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
    }
    80% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067)
    }
    100% {
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0.0)
    }
}

/* animations icon */

@keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
}

@-webkit-keyframes shake {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
    }
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
    }
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
}

/*-----HOME-----*/
header > .container {
    padding-left: 200px;
}

.link.car-model {
    height: 35px;
    display: block;
}

.model-car-img {
    width: 25px;
    margin-right: 5px;
    height: auto;
}

body header .logo {
    position: absolute;
    left: 15px;
    top: -13px;
    max-width: 225px;
}

.home-catalog .product article {
    height: 225px;
    margin-bottom: 20px;
}

header .logo img {
    width: 100%;
}

.top-bar .dropdown-menu li {
    flex-basis: 100%;
}

.home-category {
    position: relative;
    overflow: hidden;
}

.home-category h5 {
    font-weight: 600;
    text-transform: uppercase;
    padding: 50px 10px 5px;
    color: #fff;
}

.home-category p {
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    z-index: 100;
    background: #ffffff70;
}

.home-category img {
    width: 70%;
    margin: 0 auto;
    display: block !important;
    margin-bottom: 10px;
}

#category-slide img.category-img {
    max-width: 150px;
    display: block !important;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#category-slide a.category-title {
    text-align: center !important;
    height: auto !important;
    min-height: auto !important;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
    border-color: #dc3545
}

.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.was-validated .form-control:invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .25)
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.filter-section .btn-round {
    padding: 10px;
    border: none;
    width: 100%;
}

.filter-section .form-control {
    padding-left: 25px;
}

.filter-section .form-control:hover,
.filter-section .form-control:focus {
    border: 2px solid #0088cc;
}

.filter-section .link {
    color: #0088cc;
    font-weight: normal;
    font-size: 16px;
}

.link.bold {
    font-weight: bold;
}

.hover-tooltip.right {
    position: absolute;
    right: 20px;
    top: 12px;
}

.filter-section .border-bottom {
    border-bottom: 1px solid;
}

.ownmenu .dropdown.megamenu .dropdown-menu h6 a{
    color: #333333;
    margin: 30px 0 10px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.hover-tooltip .fa {
    color: #0088cc;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.filter-section .search-car__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    position: relative;
}

#car_f, #car_s {
    max-width: 100%;
}

.filter-section .search-car__list .selectric-wrapper {
    position: unset;
}

.filter-section .search-car__list .selectric-items {
    width: 100% !important;
    max-height: 302px;
    z-index: 10000;
    height: auto;
    right: 0;
    overflow: auto;
}

.filter-section .year_auto .selectric-scroll ul {
    column-count: 6;
}

.filter-section .brand_auto .selectric-scroll ul {
    column-count: 4;
}

.filter-section .selectric-scroll ul {
    column-count: 2;
    padding: 10px;
}

.filter-section .search-car__list > li {
    border: 2px solid #ccc;
    border-radius: 15px;
    width: 260px;
}

#modification_auto {
    border: none;
    background: transparent;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 5px;
    color: #ccc;
    font-size: 12px;
    font-weight: 600;
}

.active > #modification_auto {
    color: #000 !important;
}

#modification_auto_block_result {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 1000;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    max-height: 310px;
    overflow: auto;
    top: 100%;
}

.filter-section .search-car__list li span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-align: center;
}

#mod_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#mod_info .list-group {
    flex-basis: 16.5%;
}

#mod_info .list-group a:last-child {
    height: 60px;
}

.add-car {
    border: none;
    font-size: 10px;
    background: transparent;
    cursor: pointer;
    border-bottom: 1px solid;
}

#search_cars_modal .delete-car-btn {
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 0;
    padding: 10px;
}

.filter-section .container {
    box-sizing: content-box;
}

.dropdown-list.open .dropdown-menu {
    display: flex;
    flex-wrap: wrap;
}

.category-img {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.catalog .product article img {
    height: 140px;
}

.brand_auto .selectric-items li {
    text-align: center !important;
}

.top-bar .right-sec .dropdown-menu li {
    border: none;
    flex-basis: 100%;
    margin: 0;
    padding: 5px;
}

.fancyTab {
    text-align: center;
    padding: 15px 0;
    background-color: #0a95da;
    box-shadow: 0 0 0 1px #ddd;
    top: 15px;
    transition: top .2s;
}

.fancyTab.active {
    top: 0;
    transition: top .2s;
}

.whiteBlock {
    display: none;
}

.fancyTab.active .whiteBlock {
    display: block;
    height: 2px;
    bottom: -2px;
    background-color: #fff;
    width: 99%;
    position: absolute;
    z-index: 1;
}

.cate-bar-in {
    z-index: 1000;
}

.fancyTab a {
    font-size: 1.65em;
    font-weight: 300;
    transition: .2s;
    color: #fff;
}

.fancyTab:hover a {
    color: #0088cc;
}

.nav-tabs li.fancyTab.active > a {
    color: #0088cc;
}

.fancyTabs {
    border-bottom: 2px solid #ddd;
    margin: 15px 0 0;
}

li.fancyTab a {
    padding-top: 15px;
    top: -15px;
    padding-bottom: 0;
}

li.fancyTab.active a {
    padding-top: inherit;
}

.fancyTab a:focus {
    outline: none;
}

.fancyTabContent {
    border-color: transparent;
    box-shadow: 0 -2px 0 -1px #fff, 0 0 0 1px #ddd;
    padding: 30px 15px 15px;
    position: relative;
    background-color: #fff;
}

.nav-tabs > li.fancyTab.active > a,
.nav-tabs > li.fancyTab.active > a:focus,
.nav-tabs > li.fancyTab.active > a:hover {
    border-width: 0;
}

.nav-tabs > li.fancyTab:hover {
    background-color: #f9f9f9;
    box-shadow: 0 0 0 1px #ddd;
}

.nav-tabs > li.fancyTab.active:hover {
    background-color: #fff;
    box-shadow: 1px 1px 0 1px #fff, 0 0 0 1px #ddd, -1px 1px 0 0 #ddd inset;
}

.nav-tabs > li.fancyTab:hover a {
    border-color: transparent;
}

.nav.nav-tabs .fancyTab a[data-toggle="tab"] {
    background-color: transparent;
    border-bottom: 0;
}

.nav-tabs > li.fancyTab:hover a {
    border-right: 1px solid transparent;
}

.nav-tabs > li.fancyTab > a {
    margin-right: 0;
    border-top: 0;
    padding-bottom: 30px;
    margin-bottom: -30px;
}

.nav-tabs > li.fancyTab {
    margin-right: 0;
    margin-bottom: 0;
}

.nav-tabs > li.fancyTab:last-child a {
    border-right: 1px solid transparent;
}

.nav-tabs > li.fancyTab.active:last-child {
    border-right: 0 solid #ddd;
    box-shadow: 0 2px 0 0 #fff, 0 0 0 1px #ddd;
}

.fancyTab:last-child {
    box-shadow: 0 0 0 1px #ddd;
}

.tabs .nav-tabs li.fancyTab.active a {
    box-shadow: none;
    top: 0;
}


.fancyTab.active {
    background: #fff;
    box-shadow: 1px 1px 0 1px #fff, 0 0 0 1px #ddd, -1px 1px 0 0 #ddd inset;
    padding-bottom: 30px;
}

.arrow-down {
    display: none;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 22px solid #ddd;
    position: absolute;
    top: -1px;
    left: calc(50% - 20px);
}

.arrow-down-inner {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 12px solid #fff;
    position: absolute;
    top: -22px;
    left: -18px;
}

.fancyTab.active .arrow-down {
    display: block;
}

.top-bar .right-sec > ul > li {
    text-align: center;
}

.top-bar .right-sec li:last-child {
    border: none;
}

.column-list {
    display: flex;
    flex-wrap: wrap;
}

.column-list .list-group-item {
    flex-basis: 25%;
}

/*----PROFILE----*/
.panel-profile > .row {
    padding-bottom: 30px;
}

.profile-item {
    position: relative;
    padding: 0 0 0 70px;
    text-transform: none;
    display: block;
}

.profile-item > a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    font-size: 14pt;
}

.profile-item > a:first-child:before {
    font-family: "FontAwesome";
    display: inline-block;
    font-size: 55px;
    line-height: 18px;
    padding: 20px 0 0 0;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    color: #0088cc;
}

.profile-item-user > a:first-child:before {
    content: "\f007";
}

.profile-item-delivery > a:first-child:before {
    content: "\f07a";
}

.profile-item-orders > a:first-child:before {
    content: "\f022";
}

.profile-item-pwd > a:first-child:before {
    content: "\f023";
}

.profile-item-pwd > a:first-child:before {
    content: "\f023";
    padding: 20px 0 0 10px;
}

.profile-item-star > a:first-child:before {
    content: "\f006";
}

.profile-item-car > a:first-child:before {
    content: "\f1b9";
}

.profile-item-retweet > a:first-child:before {
    content: "\f079";
}

.profile-item-truck > a:first-child:before {
    content: "\f0d1";
}

.profile-item-money > a:first-child:before {
    content: "\f0d6";
}

.profile-item-chart > a:first-child:before {
    content: "\f200";
}

.block {
    display: block !important;
}

.tab-item {
    display: none;
}

.tab-item.active {
    display: block;
}

.profile-wrapper .panel-primary {
    border-radius: 17px;
}

.profile-wrapper .panel-heading,
.profile-wrapper .panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.profile-wrapper .panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.profile-wrapper .form-control {
    border-radius: 20px;
}

.identification-info {
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    padding: 10px;
    box-shadow: 0 0 21px rgba(0, 0, 0, .4);
    background: #fff;
    display: none;
}

body .modal-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

body .modal-content {
    border-radius: 17px;
}

.loader {
    position: absolute;
    z-index: 10;
    font-size: 10px;
    right: 0;
    top: 30px;
    display: none;
}

.delete-car-btn {
    border: none;
    padding: 0 5px;
    background: transparent;
}

/*-----CART-----*/
.shopping-cart .modal-lg {
    width: 98%;
    margin: 5px auto;
}

.shopping-cart .modal-header {
    background-color: #0088cc;
}

.shopping-cart .modal-header h4 {
    color: #ffffff;
}

.shopping-cart .modal-content {
    border: none;
}

.mob-cart .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-img {
    display: block !important;
    margin: 0 auto;
    max-width: 40%;
}

.close-filter {
    background: #ccc;
    position: absolute;
    top: -25px;
    right: 25px;
    display: flex;
    padding: 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.selectric-scroll ul > li:first-child {
    display: none;
}

/*-----PRODUCT PAGE-----*/
.fast-buy-block {
    position: absolute;
    top: 10px;
    width: 300px;
    display: none;
    right: 25px;
}

.add-car-block {
    display: inline-block;
    margin-bottom: 15px;
}

#root-category-modification .list-group {
    height: 185px;
    background-position: 100% 30%;
    padding-right: 110px;
    background-repeat: no-repeat;
    background-size: 40%;
}

#root-category-modification .panel-default > .panel-heading {
    height: 75px;
}

#root-category-modification .list-group-item, .category-car a.list-group-item {
    color: #348ccb;
    font: 12px/20px Arial, regular;
    text-decoration: underline !important;
    padding: 1px 15px;
    background: transparent;
    font-weight: 600;
}

header .ownmenu .nav .dropdown.megamenu .dropdown-menu li a {
    font: 12px/20px Arial, regular !important;
    text-decoration: underline !important;
    font-weight: 600 !important;
    line-height: 28px;
    color: #348ccb !important;
}

.product-img{
    width: 100%;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#root-category-modification .list-group-item:hover, .category-car a.list-group-item:hover {
    color: #FF7A00;
    font: 12px/20px Arial, regular;
    text-decoration: none;
    font-weight: 600;
}

.category-car .h6 {
    text-decoration: underline !important;
}

#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
}

#reviewStars-input {
    overflow: hidden;
    *zoom: 1;
    position: relative;
    float: left;
}

#reviewStars-input input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;

    width: 43px;
    height: 40px;

    position: absolute;
    top: 0;
    z-index: 0;
}

#reviewStars-input input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input label {
    background-position: 0 0;
    height: 40px;
    width: 43px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    z-index: 1;
    transition: all ease-in .5s;
}

#reviewStars-input label:hover {
    transform: scale(1.1);
}

#nothing-found {
    display: none !important;
}

.alternate-link {
    margin-left: 10px;
    background: #cccccc63;
    display: block;
    height: 18px;
    line-height: 1.2;
    padding: 0 5px;
    border-radius: 8px;
    border: none;
}

.phone-block {
    position: absolute;
    width: 225px;
    right: 0;
    z-index: 1000;
    background: #fff;
    padding: 10px;
    box-shadow: 2px 2px 2px #ccc;
    border-radius: 10px;
    top: -1000%;
    transition: opacity .5s;
    opacity: 0;
}

#desc-phone:hover .phone-block, #mob-phone:hover .phone-block {
    top: 100%;
    opacity: 1;
}

.top-bar .nav-pills, .top-bar .reg-link {
    flex-wrap: wrap;
}

.product-info-icon {
    margin-left: 20px;
    background: #ccc;
    height: 18px;
    width: 25px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    color: #0088cc;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input #star-0 {
    left: 0px;
}

#reviewStars-input #star-1 {
    left: 53px;
}

#reviewStars-input #star-2 {
    left: 106px;
}

#reviewStars-input #star-3 {
    left: 159px;
}

#reviewStars-input #star-4 {
    left: 212px;
}

#reviewStars-input #star-5 {
    left: 265px;
}

#ship ul {
    padding-left: 40px;
}

#ship li {
    list-style: disc;
}

.list-product-block {
    display: flex;
    border: none;
    border-top: 1px solid #ddd;
}

.list-product-wrapper {
    flex-basis: 20%;
    display: flex;
    flex-wrap: wrap;
}

.list-product-item {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.list-product-item .cart-btn {
    padding: 5px 10px;
    min-width: 40px;
    background: #08c;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    color: #fff;
}

.product article .cart-btn.custom-cart-btn {
    border-radius: 5px;
    width: auto;
    height: auto;
    line-height: 1;
    padding: 8px;
    background: #08c;
    color: #fff !important;
    margin-top: -5px;
}

/*-----SITE PAGE-----*/
.page-content p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}

.cate-bar-in ul.list-group {
    border: none;
}

.cate-bar-in .list-group-item {
    padding: 5px;
}

.list-group-item.child-list-group-item {
    padding: 0;
}

.root-list {
    max-height: 360px;
    overflow: auto;
    height: auto;
}

.list-group-item.child-list-group-item .list-group {
    padding: 0 5px;
}

/********VIN DECODER**********/
.qgContainer {
    padding: 0;
    margin: 0;
}

.qgContainer li {
    list-style-type: none;
    clear: both;
    float: left;
}

/* indent for all tree children excepts root */
.qgNode {
    background-image: url(https://exist.ua/img/i.gif);
    background-position: top left;
    background-repeat: repeat-y;
    margin-left: 18px;
    zoom: 1;
}

.qgIsRoot {
    margin-left: 0;
}

/* left vertical line (grid) for all nodes */
.qgIsFirst {
    background-image: url(https://exist.ua/img/i_half.gif);
    background-repeat: no-repeat;
    background-position: 0 10px;
}

.qgIsLast {
    background-image: url(https://exist.ua/img/i_half.gif);
    background-repeat: no-repeat;
}

.qgExpandOpen .qgExpand {
    background-image: url(https://exist.ua/img/expand_minus.gif);
}

/* closed is higher priority than open */
.qgExpandClosed .qgExpand {
    background-image: url(https://exist.ua/img/expand_plus.gif);
}

/* highest priority */
.qgExpandLeaf .qgExpand {
    background-image: url(https://exist.ua/img/expand_leaf.gif);
}

.qgContent {
    min-height: 18px;
    margin-left: 18px;
    cursor: pointer;
}

.qgExpand {
    width: 18px;
    height: 18px;
    float: left;
}


.qgExpandLoading {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(https://exist.ua/img/expand_loading.gif);
}

.qgExpandOpen .qgContainer {
    display: block;
}

.qgExpandClosed .qgContainer {
    display: none;
}

.qgExpandOpen .qgExpand, .qgExpandClosed .qgExpand {
    cursor: pointer;
}

.qgExpandLeaf .qgExpand {
    cursor: auto;
}

.qgNode.to-parts > .qgContent {
    display: block;
    margin-left: 0;
    border-radius: 3px;
    border: 1px solid #c54141;
    position: relative;
    float: left;
    color: #c54141;
    text-transform: uppercase;
    padding: 0 4px;
    line-height: 18px;
}

.qgNode.to-parts > .qgContent:after {
    content: '';
    width: 13px;
    height: 13px;
    background: url(https://exist.ua/images/to-parts.png) no-repeat;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 1px;
}

.oe-list h2 {
    font-size: 20px;
    color: #c54141;
    font-weight: bold;
    padding: 15px 0 10px 15px;
}

.oe-list h3 {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.oe-list h4 {
    font-size: 14px;
    margin: 5px;
}

.oe-category {
    padding: 0 0 15px 15px;
    width: 500px;
}

.oe-category-title {
    display: inline-block;
    padding: 10px;
    background: #f5f5f5;
    position: relative;
    top: 1px;
    border: 1px solid #ddd;
    border-bottom: none rgb(221, 221, 221);
}

.oe-item-union {
    padding: 10px;
    border: 1px solid #dfdfdf;
    background: #f5f5f5;
}

.oe-item-block {
    background: #fff;
    padding: 15px;
    margin: 15px 0;
}

.oe-title {
    display: inline-block;
    padding: 0 15px 15px 0;
    width: 100%;
}

.oe-title h4 {
    font-weight: normal;
}

.arrow-svg {
    position: relative;
    top: 1px;
    height: 10px;
    margin: 0 6px;
    animation: slowRun 1s infinite alternate forwards ease-in;
}

.attentionText {
    color: #83b880;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

.oe-image-block {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    position: relative;
}

.oe-image-block img {
    width: 100%;
    max-width: 105px;
}

.oe-list .ajax {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.oe-models {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
}

.oe-table {
    text-align: left;
}

.oe-table tr {
    border-bottom: 1px solid #ddd;
}

.oe-table td {
    padding: 10px 10px 10px 0;
    max-width: 165px;
}

html .oe-list a {
    text-decoration: none;
    color: #256892;
    transition: background-color 0.3s ease;
}

#mob-phone {
    display: none;
}

.reg-link {
    margin-bottom: 0;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-city {
    margin-top: -70px;
}

.selectric-items li.selected {
    background: #F0F0F0;
}

.search-car__list li.select {
    background: #0a95da;
    box-shadow: 1px 1px 10px #0a95da;
    border: none;
}

@media (max-width: 1200px) {

    .fancyTab .fa {
        font-size: 36px;
    }

    .fancyTab .hidden-xs {
        font-size: 22px;
    }

}

@media only screen and (max-width: 992px) {
    .fancyTab .fa {
        font-size: 33px;
    }

    .fancyTab .hidden-xs {
        font-size: 18px;
        font-weight: normal;
    }

    .filter-section .search-car__list {
        flex-wrap: wrap;
    }

    .filter-section .search-car__list li {
        width: 100%;
        margin-bottom: 10px;
    }

    .padding-md-30 {
        padding-top: 30px;
    }

    .shopping-cart .promo {
        border: none;
    }

    header > .container {
        padding-left: 15px;
    }

    body header .logo {
        position: relative;
        left: 0;
        top: 0;
    }

    .cart-pop li {
        display: flex;
        justify-content: flex-end;
    }

    .cart-pop li a #total-price {
        font-size: 12px;
    }

    .filter-section .search-car__list .selectric-wrapper {
        position: relative;
    }

    header .logo img {
        width: 130px;
    }

    .main-page-links h3 {
        font-size: 25px;
    }

    .main-page-links h4 {
        font-size: 20px;
    }

    .oe-category {
        width: auto;
    }

    .dropdown-list.open .dropdown-menu {
        left: -55px;
    }

    #mod_info .list-group {
        flex-basis: 50%;
    }

    #mod_info .list-group a {
        height: auto;
    }

    #modification_auto {
        height: 30px;
    }

    #mob-phone {
        display: block;
        padding-top: 10px;
    }

    #desc-phone {
        display: none;
    }

    .top-bar .nav-pills, .top-bar .reg-link {
        display: flex !important;
        justify-content: center;
    }

    .selectric .label {

        min-height: 30px !important;
    }

    .footer-city {
        margin-top: 0;
    }
}

@media (max-width: 768px) {

    .fancyTab > a {
        font-size: 18px;
    }

    .nav > li.fancyTab > a {
        padding: 15px 0;
        margin-bottom: inherit;
    }

    .fancyTab .fa {
        font-size: 30px;
    }

    .nav-tabs > li.fancyTab > a {
        border-right: 1px solid transparent;
        padding-bottom: 0;
    }

    .fancyTab.active .fa {
        color: #333;
    }

    .btn-sm {
        width: 200px !important;
        display: block;
        margin: 15px auto 0;
    }

    .column-list .list-group-item {
        flex-basis: 33.333333%;
    }

    .top-bar .social-top {
        display: block !important;
    }

    .main-page-links h3 {
        font-size: 22px;
    }

    .main-page-links h4 {
        font-size: 20px;
    }

    body .top-bar .right-sec ul {
        width: auto;
    }

    .year_auto .selectric-scroll ul {
        column-count: 3;
    }

    .filter-section .year_auto .selectric-scroll ul {
        column-count: 1;
    }

    .filter-section .brand_auto .selectric-scroll ul {
        column-count: 2;
    }

    #myTabContent .padding-30 {
        padding: 10px !important;
    }

    .dropdown-list.open .dropdown-menu {
        left: -70px;
    }

    .filter-section .search-car__list li span {
        text-align: left;
        padding-left: 15px;
    }
}

@media (max-width: 540px) {
    body header .navbar {
        margin-top: 0;
    }

    header .search-cate {
        display: block !important;
        margin-top: 60px;
    }

    header .search-cate .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: auto;
    }

    #mod_info .list-group {
        flex-basis: 100%;
    }
}


@media (max-width: 480px) {
    .show-480 {
        display: inline-block;
    }

    .column-list .list-group-item {
        flex-basis: 100%;
    }

    .fancyTab > a {
        font-size: 13px;
    }

    .mob-cart .list-group-item {
        flex-wrap: wrap;
    }

    .mob-cart .list-group-item > div {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    body header .logo {
        position: absolute;
        left: 15px;
        top: 0;
    }
}

@media (max-width: 440px) {
    header > .container {
        display: flex;
        justify-content: space-around;
    }

    body header .logo {
        margin-bottom: 0;
    }

    .ownmenu .cate-style {
        text-align: left;
        width: 230px;
        min-width: 100px;
    }

    .product-detail .product .quinty {
        width: 65px;
        margin-right: 15px;
    }

    .font-size-12-440 {
        font-size: 12px;
    }

    .font-size-11-440 {
        font-size: 11px;
    }

    .fast-buy-block {
        right: 0;
    }

    .year_auto .selectric-scroll ul {
        column-count: 2;
    }

    .filter-section .brand_auto .selectric-scroll ul {
        column-count: 1;
    }

    header .search-cate {
        padding-left: 5px;
    }

    header .search-cate .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 39%;
    }

    .nav > li > a {
        padding: 10px 5px;
    }

    .top-bar .container {
        padding: 0;
    }

    .dropdown-list.open .dropdown-menu {
        left: -85px;
    }

    #root-category-modification-wrapper {
        padding: 0;
    }

    #root-category-modification .list-group {
        height: auto;
        background-position: 100% 0;
        padding-right: 0;
        background-repeat: no-repeat;
        background-size: 20%;
    }

    #mob-phone {
        font-size: 12px;
        padding-top: 12px;
    }
}
